---
import { Picture } from "@astrojs/image/components";
import social from "@data/social.json";
import pkg from "../../package.json";

import { ReactComponent as GitHubIcon } from "@icons/github.svg";
import { ReactComponent as InstagramIcon } from "@icons/instagram.svg";
import { ReactComponent as PixelfedIcon } from "@icons/pixelfed.svg";
---

<header aria-labelledby="title">
  <div data-avatar>
    <Picture
      src="/img/apple-touch-512.png"
      alt={`Avatar of ${pkg.author.name}`}
      sizes="(min-width: 640px) 96px, 64px"
      widths={[64, 128, 192, 256]}
      aspectRatio={1}
      formats={["avif", "webp", "jpeg"]}
      loading="eager"
      background={undefined}
      width={64}
      height={64}
    />
  </div>
  <div>
    <h1 id="title">{pkg.short_name}</h1>
    <p>{pkg.description}</p>
    <ul>
      {
        social.instagram && (
          <li>
            <a
              class="button"
              href={social.instagram.href}
              title={`${social.instagram.username} on ${social.instagram.provider}`}
              rel="noindex nofollow noreferrer"
              target="_blank"
            >
              <InstagramIcon className="icon" role="presentation" aria-hidden />
            </a>
          </li>
        )
      }
      {
        social.pixelfed && (
          <li>
            <a
              class="button"
              href={social.pixelfed.href}
              title={`${social.pixelfed.username} on ${social.pixelfed.provider}`}
              rel="noindex nofollow noreferrer"
              target="_blank"
            >
              <PixelfedIcon className="icon" role="presentation" aria-hidden />
            </a>
          </li>
        )
      }
      <li>
        <a
          class="button"
          href={pkg.repository.url}
          title="Source code on GitHub"
          rel="noindex nofollow noreferrer"
          target="_blank"
        >
          <GitHubIcon className="icon" role="presentation" aria-hidden />
        </a>
      </li>
    </ul>
  </div>
</header>

<style>
  header {
    --gap: var(--space-s);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    margin: var(--space-xl) 0 var(--space-xxl);
  }

  img {
    border-radius: 9999px;
    height: 64px;
    width: 64px;
  }

  div {
    flex: 2 0 var(--gap);
  }

  header p {
    margin-bottom: 0;
  }

  #title {
    margin: 0;
    font-size: var(--font-size-h4);
    text-align: left;
  }

  ul {
    display: flex;
    gap: var(--space-m);
    margin: 0;
    margin-top: var(--space-xl);
    list-style-type: none;
  }

  li {
    padding: 0;
  }

  .button.button {
    --link-color: var(--color-text-muted);
    --bg-color: var(--color-bg-muted);

    display: flex;
    border-radius: 9999px;
    padding: var(--space-s);
    height: 36px;
    width: 36px;
    aspect-ratio: 1;
  }

  .button.button:hover,
  .button.button:focus {
    --link-color: var(--color-bg-muted);
    --bg-color: var(--color-text-muted);
  }

  .icon {
    fill: currentColor;
  }

  [data-avatar] {
    flex: 1 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 414px) {
    header {
      --gap: var(--space-m);
    }
  }

  @media screen and (min-width: 768px) {
    header {
      --gap: var(--space-l);
    }

    img {
      height: 128px;
      width: 128px;
    }
  }

  @media screen and (min-width: 940px) {
    header {
      --gap: var(--space-xl);
    }
  }
</style>
